.responsive {
    padding-top: 20%;
    width: 75%;
}

#background{
    min-height: 100vh;
    height: 100%;
    background-color: rgba(159, 209, 120, 0.897);
}

.cursor :hover {
    cursor: pointer;
}

@media (min-width: 1281px)  {
    .responsive {
        padding-top: 7%;
        width: 60%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px)  {
    .responsive {
        width: 60%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .responsive {
        padding-top: 7%;
    }
}